@import '~@angular/material/theming';
// Plus imports for other components in your app.
$custom-typography: mat-typography-config(
  $font-family: "Roboto Condensed",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core($custom-typography);

$mapover-blue: (
  50: #c6f4ff,
  100: #97eaff,
  200: #75e3ff,
  300: #45daff,
  400: #1cd2ff,
  500: #00caff,
  600: #00bceb,
  700: #00a8eb,
  800: #009ad6,
  900: #008dce,
  A100: #c6f4ff,
  A200: #97eaff,
  A400: #45daff,
  A700: #00caff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$mapover-red: (
  50: #ffb3cc,
  100: #ff91b6,
  200: #ff76a3,
  300: #ff5b92,
  400: #ff3075,
  500: #ff0055,
  600: #e9004e,
  700: #cf0045,
  800: #b4003c,
  900: #a50037,
  A100: #ff91b6,
  A200: #ff76a3,
  A400: #ff3075,
  A700: #ff0055,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the default theme (same as the example above).
$mapover-primary: mat-palette($mapover-blue);
$mapover-accent:  mat-palette($mapover-red, A200, A100, A400);
$mapover-theme:   mat-light-theme($mapover-primary, $mapover-accent);

// uncomment to include various components
@include mat-core-theme($mapover-theme);
@include mat-autocomplete-theme($mapover-theme);
@include mat-button-theme($mapover-theme);
// @include mat-button-toggle-theme($mapover-theme);
// @include mat-card-theme($mapover-theme);
// @include mat-checkbox-theme($mapover-theme);
// @include mat-chips-theme($mapover-theme);
// @include mat-table-theme($mapover-theme);
// @include mat-datepicker-theme($mapover-theme);
@include mat-dialog-theme($mapover-theme);
// @include mat-divider-theme($mapover-theme);
// @include mat-expansion-panel-theme($mapover-theme);
@include mat-form-field-theme($mapover-theme);
// @include mat-grid-list-theme($mapover-theme);
@include mat-icon-theme($mapover-theme);
@include mat-input-theme($mapover-theme);
// @include mat-list-theme($mapover-theme);
// @include mat-menu-theme($mapover-theme);
// @include mat-paginator-theme($mapover-theme);
// @include mat-progress-bar-theme($mapover-theme);
@include mat-progress-spinner-theme($mapover-theme);
// @include mat-radio-theme($mapover-theme);
// @include mat-select-theme($mapover-theme);
// @include mat-sidenav-theme($mapover-theme);
// @include mat-slide-toggle-theme($mapover-theme);
// @include mat-slider-theme($mapover-theme);
// @include mat-stepper-theme($mapover-theme);
@include mat-tabs-theme($mapover-theme);
// @include mat-toolbar-theme($mapover-theme);
// @include mat-tooltip-theme($mapover-theme);
// @include mat-snack-bar-theme($mapover-theme);
