@import '~sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
	'~bootstrap/scss/mixins';

.location1 {
  h5 {
    color: $location1;
  }
  &.active-location .ctrl-bar mat-icon.hinge-on-active svg {
     fill: $location1;
  }
  mat-icon.on-state svg {
    fill: $location1;
  }
}
.location1-background {
  background: $location2-light;

}
.location2 {
  h5 {
    color: $location2;
  }
  &.active-location .ctrl-bar mat-icon.hinge-on-active svg {
    fill: $location2;
  }
  mat-icon.on-state svg {
    fill: $location2;
  }
}
.location2-background {
	background: $location2-light;
}

.location1, .location2 {
	margin-bottom: 0;
	h5 {
		font-size: .7em;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

.mapover-sidebar {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
.legend {
	text-align: center;
	padding: $spacer;
  background: white;
	background-size: 650px, 650px;
	box-shadow: $hard-box-shadow;
	h1 {
		font-weight: 200;
		letter-spacing: 15px;
		margin: .5rem;
    padding-left: 15px;
    &.primary-over-secondary {
      color: rgba(0, 202, 255, 0.8);
      text-shadow: -6px 6px rgba(255, 0, 85, 0.2);
    }
    &.secondary-over-primary {
      color: rgba(255, 0, 85, 0.6);
      text-shadow: -6px 6px rgba(0, 202, 255, 0.4);
    }
	}
	p {
		font-size: .8em;
		color: $gray-600;
	}
}

.legend-width {
	max-width: 400px;
}
.floating-box {
	position: relative;
	margin-top: 20px;
  box-shadow: $hard-box-shadow;
  background: white;

	svg {
    fill: $gray-400;
  }
	.floating-box-inner {
		padding: 10px $spacer 1px $spacer;
  }
}

#swap-button {
	position: absolute;
	top: -31px;
	left: 20px;
	width: 50px;
  height: 50px;
  mat-icon svg {
    fill: white;
  }
}
agm-map {
	position: absolute;
	height: 100vh;
	width: 100vw;
	opacity: .6;
	&.active-map {
		z-index: 2;
		opacity: .4;
	}
}
