@import '~sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

$yellow-text-on-top: rgba(255, 192, 5, 0.8);
$yellow-text-on-bottom: rgba(255, 192, 5, 0.5);
$blue-text-on-top: rgba(0, 202, 255, 0.8);
$blue-text-on-bottom: rgba(0, 202, 255, 0.4);
$red-text-on-top: rgba(255, 0, 85, 0.6);
$red-text-on-bottom: rgba(255, 0, 85, 0.3);

// DEFAULT THEME
.location1 {
  h5 {
    color: $location1-default;
  }
  &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
  mat-icon.on-state svg {
    fill: $location1-default;
  }
}
.location2 {
  h5 {
    color: $location2-default;
  }
  &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
  mat-icon.on-state svg {
    fill: $location2-default;
  }
}
// BLUE YELLOW
.blue-yellow-theme {
  .location1 {
    h5 {
      color: $location1-blueYellow;
    }
    &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
    mat-icon.on-state svg {
      fill: $location1-blueYellow;
    }
  }
  .location2 {
    h5 {
      color: $location2-blueYellow;
    }
    &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
    mat-icon.on-state svg {
      fill: $location2-blueYellow;
    }
  }
  .legend h1 {
    &.primary-over-secondary {
      color: $blue-text-on-top;
      text-shadow: -6px 6px $yellow-text-on-bottom;
    }
    &.secondary-over-primary {
      color: $yellow-text-on-top;
      text-shadow: -6px 6px $blue-text-on-bottom;
    }
  }
  .button-contain .mat-mini-fab {
    background: white;
    &.mat-accent {
      background: white;
    }
    svg {
      fill: $location1-blueYellow;
    }
  }
}
// RED YELLOW
.red-yellow-theme {
  .location1 {
    h5 {
      color: $location1-redYellow;
    }
    &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
    mat-icon.on-state svg {
      fill: $location1-redYellow;
    }
  }
  .location2 {
    h5 {
      color: $location2-redYellow;
    }
    &.active-location .ctrl-bar mat-icon.hinge-on-active svg,
    mat-icon.on-state svg {
      fill: $location2-redYellow;
    }
  }
  .legend h1 {
    &.primary-over-secondary {
      color:  $red-text-on-top;
      text-shadow: -6px 6px $yellow-text-on-bottom;
    }
    &.secondary-over-primary {
      color: $yellow-text-on-top;
      text-shadow: -6px 6px  $red-text-on-bottom;
    }
  }
  .button-contain .mat-mini-fab {
    background: white;
    &.mat-accent {
      background: white;
    }
    svg {
      fill: $location1-redYellow;
    }
  }
}

.location1, .location2 {
	margin-bottom: 0;
	h5 {
		font-size: .7em;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

.theme-well-contain {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 10px 0 10px;
  position: relative;
  &.selected {
    border: 1px $gray-400 solid;
  }
  .theme-well {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    background: $location1-default;
    position: relative;
    overflow: hidden;
    opacity: 0.6;
    &:before {
      background: $location2-default;
      width: 45px;
      height: 45px;
      content: '';
      position: absolute;
      top: 5px;
      left: 12px;
      transform: rotate(45deg);
    }
    &:after {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: inset 0 0 .5em rgba(0,0,0,0.8);
    }
    &.blue-yellow {
      background: $location1-blueYellow;
      &:before {
        background: $location2-blueYellow;
      }
    }
    &.red-yellow {
      background: $location1-redYellow;
      &:before {
        background: $location2-redYellow;
      }
    }
  }
}

$icon-dimension: 22px;

.ctrl-bar .mat-icon-button {
  margin-left: 2px;
  mat-icon {
    width: $icon-dimension;
    height: $icon-dimension;
  }
}

.mapover-sidebar {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
.legend {
	text-align: center;
	padding: $spacer;
  background: white;
	background-size: 650px, 650px;
  box-shadow: $hard-box-shadow;
  position: relative;
  cursor: pointer;
  z-index: 10;
	h1 {
		font-weight: 200;
		letter-spacing: 15px;
		margin: .5rem;
    padding-left: 15px;
    &.primary-over-secondary {
      color: $blue-text-on-top;
      text-shadow: -6px 6px $red-text-on-bottom;
    }
    &.secondary-over-primary {
      color: $red-text-on-top;
      text-shadow: -6px 6px $blue-text-on-bottom;
    }
	}
	p {
		font-size: .8em;
    color: $gray-600;
    margin: 0;
  }
  .emoji-link {
    position: absolute;
    bottom: 10px;
    right: $spacer;
    a {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.5;
      &:hover {
        opacity: 1;
        text-decoration: none;
        -webkit-filter: none;
        filter: none;
      }
    }
  }
}

.legend-width {
  width: 330px;
	max-width: 400px;
}
.floating-box {
	position: relative;
	margin-top: 20px;
  box-shadow: $hard-box-shadow;
  background: white;
  transition: all .3s;

	svg {
    fill: $gray-400;
  }
	.floating-box-inner {
		padding: 10px $spacer 1px $spacer;
  }
}

#swap-button {
	position: absolute;
	top: -31px;
	left: 20px;
	width: 50px;
  height: 50px;
  mat-icon svg {
    fill: white;
  }
}
agm-map {
	position: absolute;
	height: 100vh;
	width: 100vw;
	opacity: .6;
	&.active-map {
		z-index: 2;
		opacity: .4;
	}
}

.button-contain {
  text-align: center;
  margin-top: 15px;

  .mat-mini-fab {
    background: white;
    box-shadow: $hard-box-shadow !important;
    svg {
      fill: $primary;
    }
  }
}

//
// COLLAPSING
//

.collapsed {
  .floating-box,
  .color-themes,
  .legend p,
  .emoji-link {
    display: none;
  }
  .legend h1 {
    margin: 0;
  }
}

//
// MOBILE
//

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less
  .mapover-sidebar {
    width: 100%;
    top: 0;
    left: 0;
  }
  .legend-width {
    width: 100%;
    max-width: 100%;
  }
  .legend,
  .floating-box {
    box-shadow: 0 6px rgba(0,0,0,0.2);
  }
  .floating-box {
    .floating-box-inner {
      padding: 5px $spacer 1px $spacer;
    }
  }
  .legend {
    padding: 8px $spacer;
    h1 {
      margin-top: 0;
    }
  }

  $icon-dimension-mobile: 18px;

  .ctrl-bar .mat-icon-button {
    mat-icon {
      width: $icon-dimension-mobile;
      height: $icon-dimension-mobile;
    }
  }

}
